# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.dmb
*.gz
*.zip
*.tar

# Data #
########
*.nc
*.tif
*.xlsx
*.xls

# Images #
##########
*.pdf
*.eps
*.jpg
*.png

# Workspace Data #
##################
*.sublime-project
*.sublime-workspace

# R data files #
################
.RData*
.Rapp.history
.Rhistory

# Other #
#########
.httr-oauth
.remake
master_data/Impact_Data/doi-10.5063-F19021PCxml
master_data/Impact_Data/raw_2008_invasives_mol_20150714093329zip
master_data/Impact_Data/raw_2008_plumes_fert_mol_20150714092433zip
master_data/Impact_Data/CI_2013_OneTimePeriod/global_cumul_impact_2013_all_layers.tif.aux.xml
master_data/Impact_Data/CI_2013_OneTimePeriod/global_cumul_impact_2013_all_layers.tif.xml
master_data/Impact_Data/inorganic_raw/inorganic.tif.aux.xml
master_data/Impact_Data/inorganic_raw/inorganic.tif.ovr
master_data/Impact_Data/invasives_raw/invasives.tfw
master_data/Impact_Data/invasives_raw/invasives.tif.aux.xml
master_data/Impact_Data/invasives_raw/invasives.tif.ovr
master_data/Impact_Data/invasives_raw/invasives.tif.xml
master_data/Impact_Data/plumes_fertilizer_raw/plumes_fert.tfw
master_data/Impact_Data/plumes_fertilizer_raw/plumes_fert.tif.aux.xml
master_data/Impact_Data/plumes_fertilizer_raw/plumes_fert.tif.ovr
master_data/Impact_Data/plumes_fertilizer_raw/plumes_fert.tif.xml
master_data/Impact_Data/plumes_pesticide_raw/plumes_pest.tfw
master_data/Impact_Data/plumes_pesticide_raw/plumes_pest.tif.aux.xml
master_data/Impact_Data/plumes_pesticide_raw/plumes_pest.tif.ovr
master_data/Impact_Data/plumes_pesticide_raw/plumes_pest.tif.xml
master_data/Impact_Data/pressure_one_2013_plumes_fert_mol/plumes_fert_combo.tfw
master_data/Impact_Data/pressure_one_2013_plumes_fert_mol/plumes_fert_combo.tif.aux.xml
master_data/Impact_Data/pressure_one_2013_plumes_fert_mol/plumes_fert_combo.tif.ovr
master_data/Impact_Data/pressure_one_2013_plumes_fert_mol/plumes_fert_combo.tif.xml
master_data/Impact_Data/sst_raw/sst.tfw
master_data/Impact_Data/sst_raw/sst.tif.aux.xml
master_data/Impact_Data/sst_raw/sst.tif.ovr
master_data/Impact_Data/sst_raw/sst.tif.xml
master_data/MEOW/meow_ecos.dbf
master_data/MEOW/meow_ecos.prj
master_data/MEOW/meow_ecos.sbn
master_data/MEOW/meow_ecos.sbx
master_data/MEOW/meow_ecos.shp
master_data/MEOW/meow_ecos.shp.xml
master_data/MEOW/meow_ecos.shx
